@inherits LayoutComponentBase
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Blazored.LocalStorage.ILocalStorageService Storage 

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!
                <a href="user/LogOut">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a href="user/Registration">Register</a>
                <a href="user/Login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{      

}
