@inherits LayoutComponentBase
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Blazored.LocalStorage.ILocalStorageService Storage 

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (Loged)
        {
            //<a href="LogoutUser" class="ml-md-auto">Logout</a>
            <button class="btn-danger" @onclick="LogOut">Log Out</button>
        }
        else
        {
            <NavLink class="nav-link" href="user/login" >Login</NavLink>
        }
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{      
    public bool Loged;

    protected override async Task OnInitializedAsync()
    {
        await Storage.SetItemAsync("back_uri", "https://localhost:44394/");
        await isLoggedOn();
    }
    protected async Task isLoggedOn()
    {
        Loged = !string.IsNullOrEmpty(await Storage.GetItemAsStringAsync("JWT-Token"));
    }
    async Task LogOut()
    {
        await Storage.RemoveItemAsync("JWT-Token");
        await Storage.RemoveItemAsync("JWT-RefreshToken");
    }
}
