<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." @bind="this.SearchTerm" @onkeyup="SearchBoxKeyPress">
            <div class="input-group-btn">
                <button name="PatientSearchButton" class="btn btn-default" @onclick="SearchClick">
                    <i class="mdi mdi-magnify" title="search" aria-hidden="true"></i>
                </button>
            </div>
            <div class="input-group-btn">
                <button name="PatientSearchClear" class="btn btn-default" @onclick="ClearSearch">
                    <i class="mdi mdi-close" title="clear" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearchClick { get; set; }
    public string SearchTerm { get; set; }

    protected async Task SearchBoxKeyPress(KeyboardEventArgs ev)
    {
        if (ev.Key == "Enter")
        {
            await SearchClick();
        }
    }

    protected async Task SearchClick()
    {
        if (!string.IsNullOrEmpty(SearchTerm))
        {
            await OnSearchClick.InvokeAsync(SearchTerm);
        }
    }

    protected async Task ClearSearch()
    {
        SearchTerm = string.Empty;
        await OnSearchClick.InvokeAsync(SearchTerm);
    }

}
