@using Microsoft.AspNetCore.Components.Authorization
@using Sotsera.Blazor.Toaster
@using Forum.Components
@using Forum.Components.Pages
@using Forum.Components.Shared
<ToastContainer />
<Router AppAssembly="@typeof(MainLayout).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
	</Found>
	<NotFound>
    <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
    </CascadingAuthenticationState>
	</NotFound>
</Router>