<ul class="pagination pagination-md">
    @foreach (var i in Enumerable.Range(1, PageCount))
    {
        @if (i == Page)
        {
            <li class="page-item disabled"><button class="page-link">@i</button></li>
        }
        else
        {
            <li class="page-item"><button class="page-link" @onclick="@( async () => await OnPagerPageChanged.InvokeAsync(i))">@i</button></li>
        }
    }

</ul>

@code {
    [Parameter]
    public int PageCount { get; set; }
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public EventCallback<int> OnPagerPageChanged { get; set; }

}
