@page "/thread/{ThreadId}"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject IThreadService ThreadService

<div class="container">

        @if (thread == null)
        {
            <Loader/>
        }
        else
        {
            <ThreadShort thread="thread"></ThreadShort>

            <div class="row">
            <PostsList ThreadId="@thread.Id"></PostsList>
            </div>

        }
</div>



@code {
    [Parameter]
    public string ThreadId { get; set; }

    ThreadResponse thread;

    protected override async Task OnInitializedAsync()
    {
        await loadThread();
    }

    async Task loadThread()
    {
        thread = await ThreadService.Get(ThreadId);
    }

}

